@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a><p>Our Website is Commited to Sharing the Stats of the Top 3 Players Accross NBA/NFL/MLB</a>.</p>

</div>
