@{
    ViewData["Title"] = "MLB Players";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Top #3</h1>
</div>

<ul>
    <li><strong><big><big><big>Mike Trout</big></big></big></strong></li>
    <hl>Total Bases:3,142</hl>
    <br />
    <hl>Total Homeruns:368</hl>
    <img src="~/Images/Trout.jpg" alt="Trout Image">
    <li><strong><big><big><big>Shohei Ohtani</big></big></big></strong></li>
    <hl>Total Bases:1,383</hl>
    <br />
    <hl>Total Homeruns:171</hl>
    <img src="~/Images/Shohei.jpg" alt="Shohei Image">
    <li><strong><big><big><big>Jacob deGrom</big></big></big></strong></li>
    <hl>Total Bases:1,617</hl>
    <br />
    <hl>Total Homeruns:119</hl>
    <img src="~/Images/deGrom.jpg" alt="deGrom Image">
    <!-- Add more MLB players here -->
</ul>