@{
    ViewData["Title"] = "NBA Players";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Top #3</h1>
</div>

<ul>
    <li><strong><big><big><big>Lebron James</big></big></big></strong></li>
    <hl>Total points:40,017</hl>
    <br />
    <hl>Total 3-pointers: 2,199</hl>
    <img src="~/Images/LeGoat.jpg" alt="LeBron Image">
    <li><strong><big><big><big>Kevin Durant</big></big></big></strong></li>
    <hl>Total points:26,684</hl>
    <br />
    <hl>Total 3-pointers:1,971</hl>
    <img src="~/Images/KD.jpg" alt="KD Image">
    <li><strong><big><big><big>Stephen Curry</big></big></big></strong></li>
    <hl>Total points:23,374</hl>
    <br />
    <hl>Total 3-pointers:3,691</hl>
    <img src="~/Images/Curry.jpg" alt="Curry Image">
    <!-- Add more NBA players here -->
</ul>