@{
    ViewData["Title"] = "NFL Players";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Top #3</h1>
</div>

<ul>
    <li><strong><big><big><big>Tom Brady</big></big></big></strong></li>
    <hl>Total Yards:89,214</hl>
    <br />
    <hl>Total Touchdowns:649</hl>
    <img src="~/Images/Brady.jpg" alt="Brady Image">
    <li><strong><big><big><big>Tyreek Hill</big></big></big></strong></li>
    <hl>Total Yards:10,139</hl>
    <br />
    <hl>Total Touchdowns:76</hl>
    <img src="~/Images/Hill.png" alt="Hill Image">
    <li><strong><big><big><big>Patrick Mahomes</big></big></big></strong></li>
    <hl>Total Yards:28,424</hl>
    <br />
    <hl>Total Touchdowns:219</hl>
    <img src="~/Images/Mahomes.jpg" alt="Mahomes Image">
    <!-- Add more NFL players here -->
</ul>